img {
    width: 100%;
}

.card-container {
   
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card {
    position: relative;
    padding: 1.5rem;
    
}

.card-info {
    z-index: 10;
    position: absolute;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(44,42,39,0.5);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: white;
}


/* .gallery-btn{
    position: absolute;
    
    
    
} */